{% extends "base.html" %}
{% load static %}
{% block title %}
{{ blog.title }}
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/blog/blog_detail.css' %}">
{% endblock style %}
{% block content %}
<div class="container">
    {% include "partials\_sidebar.html" %}
        <div class="content">
            <div class="topbar">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'all_blogs'%}">All Blog</a></li>
                    <li>{{ blog.title }}</li>
                </ul>
                <span>{{ blog.author }} ~ {{ blog.create_date|date }}</span>
            </div>
            <div class="blog_details">
                <h1>{{ blog.title }}</h1>
                {{ blog.content|safe }}
            </div>
        </div>
</div>
{% endblock %}